/*  whole app */
body {
  text-align: center;
  font-family: sans-serif;
  background: rgb(36, 36, 36);
  overflow: hidden;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  min-width: 30em;
}

/* Home Page */
.home {
  color: whitesmoke;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28em;
}

.home-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  color: blueviolet;
  transition: color ease-in 0.5s;
}

.home-button:hover {
  color: rgb(253, 142, 220);
  cursor: pointer;
}

.home > button {
  height: 7em;
  width: 7em;
  margin: 1em;
  border-radius: 50%;
  border: 0.5em solid rgba(66, 66, 66, 0.945);
  transition: transform ease-in 0.2s;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 16px;
}

.home > button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Calender */
.clock-area {
  background-color: whitesmoke;
  margin: 2em auto;
  padding: 0.5em;
  border: 8px double rgb(47, 54, 54);
}

.firstline {
  margin-top: 30px;
}

.day {
  font-family: "Corinthia", cursive;
  font-size: 3em;
}
.th {
  font-size: 10px;
  vertical-align: text-top;
}
.month {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.15em;
}

.year {
  font-weight: 600;
  font-size: smaller;
  margin-top: 5px;
}

.time {
  font-size: 3em;
  font-weight: 500;
  background-color: rgb(47, 54, 54);
  border-radius: 20px;
  color: whitesmoke;
  margin: 30px auto;
  max-width: 6em;
}

/*todo app*/

.list-area {
  background-color: whitesmoke;
  margin: 2em auto;
  border-radius: 20px;
  min-height: 20em;
}
.to-do {
  text-decoration: underline;
  font-size: 50px;
  line-height: 90px;
}

ul {
  margin: 20px auto;
  padding: 0;
  width: 200px;
  list-style-type: none;
}

li {
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  transition: 0.2s;
  padding-left: 20px;
}
li:last-child {
  border-radius: 0 0 20px 20px;
}
li:first-child {
  border-radius: 20px 20px 0 0;
}

li:nth-child(odd) {
  background: #7a7a7a33;
}

li:hover {
  background: #1bbce963;
}

.striketrough {
  text-decoration: line-through;
}

.delete-button {
  background: none;
  border: none;
  float: right;
  color: rgb(235, 44, 44);
}

.text-input {
  border-radius: 20px;
  border: 2px solid black;
  padding: 4px 0;
}
.add {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}

.clear {
  text-decoration: none;
  color: rgb(235, 44, 44);
  font-weight: 600;
}
.clear:hover {
  font-size: 18px;
}

/* STOPWATCH */
.stopwatch-area {
  background: whitesmoke;
  border-radius: 30px;
  margin: 0 auto;
  padding: 2em 0;
}

.stopwatch-title {
  font-size: 1em;
  margin: 0.5em auto;
  font-weight: 700;
  text-decoration: underline;
}

.stopwatch-text {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0.5em auto;
}

.stopwatch-area button {
  border: whitesmoke 2px solid;
  background-color: #864ff2;
  color: whitesmoke;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 15px;
}

.stopwatch-area button:hover {
  border: crimson 3px solid;
}

.fa-times {
  font-size: 20px;
}

/* Visibility */

.hidden {
  visibility: hidden;
}
