.fonts {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.clock-area {
  background-color: rgb(216, 216, 216);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.firstline {
  margin-top: 30px;
}

.day {
  font-family: "Corinthia", cursive;
  font-size: 3em;
}
.th {
  font-size: 10px;
  vertical-align: text-top;
}
.month {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.15em;
}

.year {
  font-family: "Bebas Neue", cursive;
  font-weight: 600;
  font-size: smaller;
  margin-top: 5px;
}

.time {
  font-size: 3em;
  font-weight: 500;
  border: black double 5px;
  width: 5.5em;
  margin: 30px auto;
}

.list-area {
  background-color: rgb(245, 255, 157);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.to-do {
  font-family: "Playfair Display", serif;
  text-decoration: underline;
  font-size: 50px;
  padding-bottom: 15px;
}

ul {
  margin: 20px auto;
  padding: 0;
  width: 200px;
  list-style-type: none;
}

li {
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  transition: 0.2s;
}

li:nth-child(odd) {
  background: #fceb52;
}

li:hover {
  background: #fddb7f;
}

.striketrough {
  text-decoration: line-through;
}

.text-input {
  border-radius: 20px;
  border: none;
  padding: 4px 0;
}
.add {
  background-color: transparent;
  border: none;
}
.stopwatch-area {
  background-color: rgb(66, 66, 66);
  font-family: "Roboto", sans-serif;
}

.stopwatch-text {
  font-size: 50px;
  margin: 0;
  color: antiquewhite;
}
.stopwatch-area button {
  background: rgb(255, 255, 255);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 15px;
}

.fa-times {
  font-size: 20px;
}
