/*  whole app */
body {
  margin: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #1bbce9;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

/* Calender */
.clock-area {
  background-color: whitesmoke;
  margin: 2em auto;
  padding: 0.5em;
  border: 8px double rgb(47, 54, 54);
  max-width: 20em;
}

.firstline {
  margin-top: 30px;
}

.day {
  font-family: "Corinthia", cursive;
  font-size: 3em;
}
.th {
  font-size: 10px;
  vertical-align: text-top;
}
.month {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.15em;
}

.year {
  font-weight: 600;
  font-size: smaller;
  margin-top: 5px;
}

.time {
  font-size: 3em;
  font-weight: 500;
  background-color: rgb(47, 54, 54);
  border-radius: 20px;
  color: whitesmoke;
  margin: 30px auto;
  max-width: 6em;
}

.list-area {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: whitesmoke;
  margin: 2em auto;
  border-radius: 20px;
  width: 18em;
}

.to-do {
  text-decoration: underline;
  font-size: 50px;
  line-height: 90px;
}

ul {
  margin: 20px auto;
  padding: 0;
  width: 200px;
  list-style-type: none;
}

li {
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  transition: 0.2s;
  padding-left: 20px;
}
li:last-child {
  border-radius: 0 0 20px 20px;
}
li:first-child {
  border-radius: 20px 20px 0 0;
}

li:nth-child(odd) {
  background: #7a7a7a33;
}

li:hover {
  background: #1bbce963;
}

.striketrough {
  text-decoration: line-through;
}

.delete-button {
  background: none;
  border: none;
  float: right;
  color: rgb(235, 44, 44);
}

.text-input {
  border-radius: 20px;
  border: 2px solid black;
  padding: 4px 0;
}
.add {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}

.clear {
  text-decoration: none;
  color: rgb(235, 44, 44);
  font-weight: 600;
}
.clear:hover {
  font-size: 18px;
}

/* STOPWATCH */
.stopwatch-area {
  border: #1bbce9 3px solid;
  background: whitesmoke;
  border-radius: 0 30px;
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}

.stopwatch-title {
  font-size: 1em;
  margin: 0.5em auto;
  font-weight: 700;
  text-decoration: underline;
}

.stopwatch-text {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0.5em auto;
}

.stopwatch-area button {
  border: whitesmoke 2px solid;
  background-color: #864ff2;
  color: whitesmoke;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 15px;
}

.stopwatch-area button:hover {
  border: crimson 3px solid;
}

.fa-times {
  font-size: 20px;
}

/* Full screen */

.fullscreen {
  position: absolute;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
}

.hidden {
  visibility: hidden;
}
